*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(46, 224, 10);
}

html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 150px;
    width: 150px;
    background-color: rgb(5, 51, 97);
}

#circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(4, 111, 23);
}